*{
    padding: 0;
    margin: 0;
}

.container{
 
    display: block;
    justify-content: center;
    margin: auto;
    padding: 12px;
    background-color: white;
    box-shadow: 5px 7px 17px 4px rgb(152 159 151 / 39%);
    width: 50%;
    font-size:large ;
    font-weight: bold;
    color: rgb(18, 17, 17);
    font-family: 'Times New Roman', Times, serif;
}
.container .image {
   margin: auto;
   align-items: center;
   display: flex;
   justify-content: space-around;
}
.container .image img{
    height: 200px;
    width: 200px;
}
input[type=email], input[type=password]{
    outline: none;
    padding: 10px 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    width: 100%;
    margin: 7px 0;
}
.container button{
    background-color: green;
    color: white;
    width: 100%;
    outline: none;
    padding: 10px 8px;
    border-radius: 5px;
    border: none;
    margin-bottom: 8px;
}
.container label {
    font-weight: lighter;
    font-family: Georgia, 'Times New Roman', Times, serif;
 }

.container .box{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    background-color: rgba(247, 237, 237, 0.604);
    padding: 10px;
}
.container .btn button{
    background-color: red;
    width: 150px;
}
.container .box span{
   font-weight: lighter;
   font-family: Georgia, 'Times New Roman', Times, serif;
}
#new-page{
    margin: auto;
    text-align: center;
    width: 300px;
    background-color: aqua;
    width: 40%;
    border-radius: 5px;
    justify-content: center;
}
#new-page span{
    color: red;
    font-size: 20px;
}
#new-page .close{
    display: flex;
    justify-content: space-around;
}
#new-page label{
   
    color: blue;
    font-size: 30px;
}